[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
reader = "*"
ansys-api-mapdl-v0 = "*"
ansys-dpf-core = "*"
ansys-mapdl-reader = "*"
ansys-mapdl-core = "*"
ansys-dpf-post = "*"
pandas = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.9"
